Options -Indexes
DirectoryIndex index.html

<IfModule mod_authz_core.c>
    Require all granted
</IfModule>

<IfModule !mod_authz_core.c>
    Order allow,deny
    Allow from all
</IfModule>

<IfModule mod_mime.c>
    AddType text/html .html
</IfModule>
